.App {
  text-align: center;
}

.App-grid {
  height: 100vh;
  display: grid;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 1rem;
}

button {
  text-transform: uppercase !important;
}
